div{
    background-color: tomato;
    padding: 10px;
    margin: 10px;
}
p{
    background-image: url('/jakub-kriz-3FFEdm8TOek-unsplash.jpg');
    background-image: url('/anh-nguyen-kcA-c3f_3FE-unsplash.jpg');
}